version: '3.8'

services:
    db:
        image: postgres:15
        volumes:
            - postgres_data:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=ecommerce
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=ehdghk01
        ports:
            - "5433:5432"

    redis:
        image: redis:alpine
        ports:
            - "6379:6379"

    web:
        build: .
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - .:/app
            - media_volume:/app/media
        ports:
            - "8000:8000"
        environment:
            - DATABASE_URL=postgres://admin:ehdghk01@db:5433/ecommerce
        depends_on:
            - db
            - redis

    worker:
        build: .
        command: celery -A board worker --loglevel=info
        volumes:
            - .:/app
            - media_volume:/app/media
        depends_on:
            - redis
            - db

    beat:
        build: .
        command: celery -A board beat --loglevel=info
        volumes:
            - .:/app
        depends_on:
            - redis
            - db

volumes:
    postgres_data:
    media_volume: