services:
    db:
        image: postgres:15
        volumes:
            - postgres_data:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

    redis:
        image: redis:alpine

    web:
        build: .
        command: gunicorn --bind 0.0.0.0:8000 --workers 3 board.wsgi:application
        volumes:
            - .:/app
            - static_volume:/app/staticfiles
            - media_volume:/app/media
        expose:
            - "8000"
        environment:
            - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - SENTRY_DSN=${SENTRY_DSN}
        env_file:
            - .env
        depends_on:
            - db
            - redis

    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
            - static_volume:/app/staticfiles
            - media_volume:/app/media
        depends_on:
            -   web

    worker:
        build: .
        command: celery -A board worker --loglevel=info
        volumes:
            - .:/app
            - media_volume:/app/media
        environment:
            - SENTRY_DSN=${SENTRY_DSN}
        depends_on:
            - redis
            - db

    beat:
        build: .
        command: celery -A board beat --loglevel=info
        volumes:
            - .:/app
        environment:
            - SENTRY_DSN=${SENTRY_DSN}
        depends_on:
            - redis
            - db

volumes:
    postgres_data:
    static_volume:
    media_volume: