services:
    db:
        image: postgres:15
        volumes:
            - postgres_data:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        ports:
            - "5433:5432"

    redis:
        image: redis:alpine
        ports:
            - "6379:6379"

    web:
        build: .
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - .:/app
            - media_volume:/app/media
        ports:
            - "8000:8000"
        environment:
            - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5433/${POSTGRES_DB}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - SENTRY_DSN=${SENTRY_DSN}
        env_file:
            - .env
        depends_on:
            - db
            - redis

    worker:
        build: .
        command: celery -A board worker --loglevel=info
        volumes:
            - .:/app
            - media_volume:/app/media
        environment:
            - SENTRY_DSN=${SENTRY_DSN}
        depends_on:
            - redis
            - db

    beat:
        build: .
        command: celery -A board beat --loglevel=info
        volumes:
            - .:/app
        environment:
            - SENTRY_DSN=${SENTRY_DSN}
        depends_on:
            - redis
            - db

volumes:
    postgres_data:
    media_volume: