name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create my_settings.py and .env
        run: |
          cat <<EOF > my_settings.py
          ${{ secrets.MY_SETTINGS }}
          EOF
          
          cat <<EOF > .env
          ${{ secrets.ENV_FILE }}
          EOF

      - name: Build and Run Tests
        run: |
          docker-compose up -d --build
          docker-compose exec -T web python manage.py test

      - name: Teardown
        run: docker-compose down

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: SSH into EC2 and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/ecommerce
            git pull -u origin main

            docker-compose down
            docker-compose up -d --build
            docker system prune -f